<!DOCTYPE html>
<html>
  <head>
    <title>SkillBranch - Задача 2B</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Задача 2B: Фамилия И. О.</h1>
    <p>Вывод: <%= fio %></p>
  </body>
</html>
